<!-- Sidebar -->
<ul style="background-color: indigo;" class="navbar-nav bg-gradient sidebar sidebar-dark accordion"
    id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="dashboard">
        <div class="sidebar-brand-icon rotate-n-15">
            <i class="fas fa-star"></i>
        </div>
        <div class="sidebar-brand-text mx-3">Star⭐Routing</div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Dashboard -->
    <li class="nav-item active">
        <a class="nav-link" href="dashboard">
            <i class="fas fa-chart-bar"></i>
            <span>Dashboard</span></a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
        Módulos
    </div>

    <!-- Nav Item - Pages Collapse Menu -->
    {{!-- Usuarios --}}
    <li class="nav-item">
        <a class="nav-link " href="list-usuarios">
            <i class="fas fa-fw fa-users"></i>
            <span>Usuarios</span>
        </a>
    </li>

    {{!-- Empleados --}}

    <li class="nav-item">
        <a class="nav-link " href="list-empleados">
            <i class="fas fa-fw fa-user-tie"></i>
            <span>Empleados</span>
        </a>
    </li>

    {{!-- Clientes --}}
    <li class="nav-item">
        <a class="nav-link " href="list-clientes">
            <i class="fas fa-fw fa-user-tie"></i>
            <span>Clientes</span>
        </a>
    </li>

    {{!-- Paquetes --}}
    <li class="nav-item">
        <a class="nav-link " href="list-paquetes">
            <i class="fas fa-fw fa-boxes"></i>
            <span>Paquetes</span>
        </a>
    </li>

    {{!-- Rutas --}}
    <li class="nav-item">
        <a class="nav-link " href="list-rutas">
            <i class="fas fa-fw fa-route"></i>
            <span>Rutas</span>
        </a>
    </li>

    {{!-- Novedades --}}
    <li class="nav-item">
        <a class="nav-link " href="list-novedades">
            <i class="fas fa-fw fa-info"></i>
            <span>Novedades</span>
        </a>
    </li>

    {{!-- Entregas --}}
    <li class="nav-item">
        <a class="nav-link " href="list-entregas">
            <i class="fas fa-fw fa-truck"></i>
            <span>Entregas</span>
        </a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Sidebar Toggler (Sidebar) -->
    <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>
</ul>
<!-- End of Sidebar -->